h1 {
    color: $black;
    font-family: $font-mono;
    font-size: $fs-xxxlarge;
    padding: $sp3 0;
}

h2 {
    color: $black;
    font-family: $font-mono;
    font-size: $fs-xlarge;
    padding: $sp3 0;
}

h3 {
    color: $black;
    font-family: $font-mono;

}

h4 {
    color: $black;
    font-family: $font-roboto;
    font-size: $fs-medium;
}

p {
    color: $black;
    font-family: $font-roboto;
    font-size: $fs-small;
}
