@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=PT+Mono&display=swap');

// paleta de colores

$white: #fff;
$isabeline: #eeeded;
$spanish-gray: #989797;
$coral: #f0d53c;
$buff: #f1dd7b;
$vanilla: #f5e7a1;
$flame: #e4572e;
$light-redochre: #e87554;
$pastel-pink: #f2b2a0;
$shiny-shamrock: #4ca866;
$turquoise-green: #9dcfab;
$pastel-gray: #bddfc7;
$blue-defrance: #3c91e6;
$blue-jeans: #5fa5ea;
$jordy_blue: #82b9ef;
$black: #000000;
$outer-space: #454545;
$quick-silver:#a2a2a2;

// fuentes

$font-roboto: "Roboto", sans-serif;
$font-mono: "PT Mono", monospace;

// tamaños de fuente

$fs-xxxlarge: 70px;
$fs-xxlarge: 40px;
$fs-xlarge: 30px;
$fs-large: 18px;
$fs-medium: 16px;
$fs-small: 14px;

// espaciado

$sp1: 5px;
$sp2: 10px;
$sp3: 15px;
$sp4: 20px;
$sp5: 25px;
$sp6: 30px;
$sp7: 60px;
